# 一般的なGitignoreの説明
# 詳細はこちら: https://help.github.com/articles/ignoring-files

# エディタやOSによって生成される一時ファイルをignoreする場合、
# グローバルなignore設定を検討してください:
#   git config --global core.excludesfile '~/.gitignore_global'

# Bundler設定をignore
/.bundle

# すべてのログファイルと一時ファイルをignore
/log/*
!/log/.keep
*.log
/tmp/*
!/tmp/.keep

# PIDファイルをignoreするが、ディレクトリは保持
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# 開発環境でアップロードされたファイルを認識しない
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# 設定の復号化に使用されるマスターキーをignore
/config/master.key

# public/uploads をignore
/public/uploads

# seedの画像データをignore
# /db/seeds/dummy_data/images/*
# /db/seeds/dummy_data/users/*


# 環境変数ファイルをignore
.env

### Terraform関連の設定 ###

# ローカルの.terraformディレクトリをignore
**/.terraform/*

# .tfstate ファイルをignore
*.tfstate
*.tfstate.*

# クラッシュログファイルをignore
crash.log
crash.*.log

# 機密情報が含まれる可能性がある.tfvarsファイルをignore
*.tfvars
*.tfvars.json

# リソースをローカルでオーバーライドするために使用されるoverrideファイルをignore
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# バージョン管理に含めたいオーバーライドファイルがある場合は、否定パターンを使用
# !example_override.tf

# terraform plan コマンドの出力ファイル tfplan をignore
# 例: *tfplan*

# CLI構成ファイルをignore
.terraformrc
terraform.rc

# キーペアファイルをignore
*keypair*

# 圧縮ファイルをignore
*.gz
*.zip

# test coverageをignore
/coverage/*
